*{
    margin : 0px;
    padding: 0;
}
 
body{
    background-color: rgba(30, 30, 30, 0);
}

/* first project done */
.nav-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav-part{
    width: 1280px;
    height: 40px;
    margin: 30px 160px 30px 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-banglasesh{
    position: static;
    width: 222px;
    height: 38px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.nav-btn{
    position: static;
    width: 116px;
    height: 52px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;

}

.nav-btn:hover{
    background-color: aquamarine;
}

/* second project done */
.banner{
    position: static;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-container{
    position: static;
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    background: rgb(198, 228, 214);
     
}


.banner-description{
    position: static;
    width: 681.99px;
    height: 560;
    
}


.banner-img{
    position: static;
    width: 598.01px;
    height: 560;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-image: url("../styles/hero.png"); */
    background-repeat: no-repeat;
}

.banner-heading{
    position: static;
    margin: 117px 0px 8px 59.99px;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-description-text{
    position: static;
    margin: 8px 0px 12px 59.99px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}


.banner-btn{
    position: static;
    margin: 12px 0px 117px 59.99px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 17px 34px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(0, 106, 80);
}

/* second project done */
.banner{
    position: static;
    width: 100%;
    height: 560px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner-container{
    position: static;
    width: 1280px;
    height: 560px;
    display: flex;
    flex-direction: row;
    border-radius: 24px;
    background: rgb(198, 228, 214);
     
}


.banner-description{
    position: static;
    width: 681.99px;
    height: 560;
    
}


.banner-img{
    position: static;
    width: 598.01px;
    height: 560;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background-image: url("../styles/hero.png"); */
    background-repeat: no-repeat;
}

.banner-heading{
    position: static;
    margin: 117px 0px 8px 59.99px;
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-description-text{
    position: static;
    margin: 8px 0px 12px 59.99px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}


.banner-btn{
    position: static;
    margin: 12px 0px 117px 59.99px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 17px 34px;
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
    background: rgb(0, 106, 80);
}

/* Small future start here */
.small-future{
    position: static;
    width: 100%;
    height: 404px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.small-future-container{
    position: static;
    width: 1280px;
    height: 324px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
 
}

/* Many heading part */
.heading-part{
    position: static;
    width: 1280px;
    height: 48px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

.ending-part{
    position: static;
    width: 1280px;
    height: 276px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 24px;
}

.small-future-box{
    position: static;
    width: 302px;
    height: 244px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}


/* All future box icon */
.card-icon{   
    position: static;
    width: 62px;
    height: 62px;
    left: 1px;
    top: 1px;
    margin: 25px 215px 12.5px 25px;
}

/* All future heading */
.heading-future-box{
    position: static;
    width: 254px;
    height: 24px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 12.5px 24px 12px 24px;
}

/* All Future heading */
.ending-future-box{
    position: static;
    width: 254px;
    height: 72px;
    /* color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;   */
    margin: 0px 24px 24px 24px;
}

.future-text-style{ 
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left; 
}

 /* Section three start */
.future{
    position: static;
    width: 100%;
    height: 557px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.future-container{
    position: static;
    width: 1280px;
    height: 477px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}


.future-navber{
    position: static;
    width: 1280px;
    height: 48px;
}
 

.future-navber2{
    position: static;
    width: 1280px;
    height: 48px;
    margin-top: 24px;
}

.future-navber3{
    position: static;
    width: 1280px;
    height: 325px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
    
}

.future-box{
    position: static;
    width: 410.67px;
    height: 325px;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
     
}

.future-text-style{
    position: static;
    width: 1280px;
    height: 48px;
}

.btn-div-two{
    width: 122px;
    height: 41px;
    margin-left: 32px;
}
.btn-two{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    letter-spacing: 0%;
    text-align: left;
    padding: 11px 20px 11px 20px;
}

#colour-one{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
}

#colour-two{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
}

#colour-three{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
}

#btn-bg-one{
    border-radius: 8px;
    background: rgb(84, 144, 245);
}

#btn-bg-one:hover{
      background-color: blue;
}

#btn-bg-two{
    border-radius: 8px;
    background: rgb(9, 161, 92);
}

#btn-bg-two:hover{
    background-color: aquamarine;
}
#btn-bg-three{
    border-radius: 8px;
    background: rgb(255, 194, 57);
}
#btn-bg-three:hover{
    background-color: antiquewhite;
}

/* This is frist part */
.news{
    position: static;
    width: 100%;
    height: 634px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-center;
}

.new-container{
    position: static;
    width: 1280px;
    height: 554px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.news-nabvar{
    position: static;
    width: 1280px;
    height: 48px;
}

.news-navber3{
    position: static;
    width: 1280px;
    height: 402px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
}

.news-box-one{
    position: static;
    width: 408px;
    height: 306px;
    margin: 48px;  
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.world-news{
    border-radius: 24px;
}

.news-box-two{
    position: static;
    width: 680px;
    height: 306px;
    margin: 48px 48px 48px 0px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.news-pera{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.news-img{
    position: static;
    width: 134px;
    height: 40px;
   
}

.news-pera-one{
    position: static;
    width: 744px;
    height: 72px;
}

.news-pera-two{
    position: static;
    width: 300px;
    height: 24px;
}


/* This is second part */
.news{
    position: static;
    width: 100%;
    height: 634px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-center;
 
}

.new-container{
    position: static;
    width: 1280px;
    height: 554px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  
}

.news-nabvar{
    position: static;
    width: 1280px;
    height: 48px;
}

.news-navber33{
    position: static;
    width: 1280px;
    height: 402px;
    margin-top: 90px;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-start;
    align-items: flex-start;
}

.news-box-one{
    position: static;
    width: 408px;
    height: 306px;
    margin: 48px;  
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.world-news{
    border-radius: 24px;
}

.news-box-two{
    position: static;
    width: 680px;
    height: 306px;
    margin: 48px 48px 48px 0px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.news-pera{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.news-img{
    position: static;
    width: 134px;
    height: 40px;
   
}

.news-pera-one{
    position: static;
    width: 744px;
    height: 72px;
}

.news-pera-two{
    position: static;
    width: 300px;
    height: 24px;
}


/* This is the thrid part in world */
.news{
    position: static;
    width: 100%;
    height: 634px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-center; 
 
}

.new-container{
    position: static;
    width: 1280px;
    height: 554px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
   
}

.news-nabvar{
    position: static;
    width: 1280px;
    height: 48px;
}

.news-navber3{
    position: static;
    width: 1280px;
    height: 402px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    align-items: flex-start;
}

.news-box-one{
    position: static;
    width: 408px;
    height: 306px;
    margin: 48px;  
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
}
.world-news{
    border-radius: 24px;
}

.news-box-two{
    position: static;
    width: 680px;
    height: 306px;
    margin: 48px 48px 48px 0px;  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.news-pera{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

.news-img{
    position: static;
    width: 134px;
    height: 40px;
   
}

.news-pera-one{
    position: static;
    width: 744px;
    height: 72px;
}

.news-pera-two{
    position: static;
    width: 300px;
    height: 24px;
}

.btn-div-three{
    width: 139px;
    height: 48px;
    margin-top: 32px;
    
}

.btn-three{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    letter-spacing: 0%;
    text-align: left;
    padding: 13px 26px 13px 26px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
}



.sec-4 {
    position: static;
    width: 1280px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 48px 24px 48px 24px;
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 30px 314px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.sec-4 p {
    position: static;
    width: 1232px;
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.sec-4 .sec-4-paragraph {
    position: relative;
}

.sec-4 .sec-4-paragraph::before {
    content: "“";
    font-size: 124px;
    color: gray;
    position: absolute;
    top: 28px;
    left: -4px;
    opacity: 0.7;
}

/* .sec-4 .sec-4-paragraph::after {
    content: "”";
    font-size: 50px;
    color: gray;
    position: absolute;
    bottom: 0;
    right: -10px;
} */

.sec-4 h1 {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.sec-4 .chif {
    color: rgba(14, 14, 14, 0.6);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.donate-contianer {
    position: static;
    width: 1280px;
    height: 464px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32;
    padding: 0px;
    flex: none;
    order: 4;
    flex-grow: 0;
    margin: 80px 0px;
    margin: 30px 314px;
}


.donate-heading {
    position: static;
    width: 1280px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}


.donate-pera {
    position: static;
    width: 1104px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}


.box-taka {
    display: flex;
    margin-top: 20px;
}

#background {
    background-color: aqua;
}

.taka {
    position: static;
    width: 240px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24;
    padding: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 35px;
}

.taka:hover {
    background-color: yellowgreen;
}

.input-fild input {
    position: static;
    width: 1032px;
    height: 44px;
    margin-top: 30px;
    text-align: center;
    padding: 20px 40px 20px 40px;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 32px 0px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    outline: none;
}

 
.Subscribe-continear {
    position: static;
    width: 1000px;
    height: 395px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 64;
    padding: 80px 100px 80px 100px;
    flex: none;
    order: 5;
    flex-grow: 0;
    margin: 80px 0px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 30px 354px;
}

.Subscribe-box {
    position: static;
    width: 750px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 64px;
}

.Subscribe-hed {
    position: static;
    width: 622px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 16px 0px;
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
}

.Subscribe-pera p {
    position: static;
    width: 622px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
    position: static;
    width: 622px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16;
    padding: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 16px 0px;
}

.Subscribe-input {
    position: static;
    width: 600px;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 18px 40px 18px 40px;
    padding: 18px 40px 18px 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    border-radius: 8px 0px 0px 8px;
    /* background: rgb(255, 255, 255); */
}

.Subscribe-input input {
    position: static;
    width: 100%;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
    color: rgba(14, 14, 14, 0.3);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    padding: 15px 15px;
    border: none;
    outline: none;
    border-radius: 8px 0px 0px 8px;
}

.Subscribe-input button {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 34px 17px 34px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: #fff;
}


.footer-title{
    color: #0E0E0E;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
  }
.footer-icons{
    display: flex;
    align-items: center;
    text-align: center;
  }
.icon{
    align-items: center;
  }
.footer{
    align-items: center;
    text-align: center;
    justify-items: center;
  }
.line{
    color: #0E0E0E 10% ;
    width: 1122px;
    position:relative;
}  